@{
    ViewData["Title"] = "Contact";
}
@model MessageModel;
<h1>@ViewData["Title"]</h1>

<p>Contact us!</p>
<div class="row">
    <form class="form-check" asp-action="Contact" method="post">
        <div class="form-group">
            <label class="" asp-for="Sender">Sender:</label>
            <input class="form-control" asp-for="Sender" />
        </div>
        <div class="form-group">
            <label asp-for="Receipient">Receipient:</label>
            <input class="form-control" asp-for="Receipient" />
        </div>
        <div class="form-group">
            <label asp-for="Subject">Subject:</label>
            <input class="form-control" asp-for="Subject" />
        </div>
        <div class="form-group">
            <label asp-for="Message">Message: </label>
            <textarea class="form-control" asp-for="Message"></textarea>
        </div>
        <button type="submit" class="btn btn-success ">Save</button>
        <button asp-action="Contact" class=" btn btn-danger">Clear</button>
    </form>
</div>
<br />

<div>
    <table class="table">
        <tr>
            <th>Sender </th>
            <th>Receipient </th>
            <th>Date Sent</th>
            <th>Subject </th>
            <th>Message</th>
        </tr>

        @foreach (MessageModel chat in (List<MessageModel>)ViewBag.chatHistory)
            {
        <tr>
            <td>@chat.Sender</td>
            <td>@chat.Receipient</td>
            <td>@chat.MsgTime</td>
            <td>@chat.Subject</td>
            <td>@chat.Message</td>
            <td>
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="MessageId" value="@chat.MessageId" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>

            }
    </table>
</div>
